<form action="/employees" method="POST">
  <div class="form-group">
    <label for="Full name">Full name</label>
    <input type="text" class="form-control" id="Full name">
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
    <div class="form-group">
    <label for="mobile">mobile</label>
    <input type="text" class="form-control" id="mobile">
  </div>
  <div class="form-group">
    <label for="pwd">city</label>
    <input type="text" class="form-control" id="pwd">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>